.header {
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-block: 1.5rem;
  gap: 2rem;
  border-bottom: 1px solid var(--clr-neutral-300);
}

@media (max-width: 700px) {
  .header {
    position: fixed;
    background-color: var(--clr-neutral-000);
    z-index: 10;
    border: 1px solid var(--clr-neutral-300);
  }
  .wrapper {
    grid-template-columns: max-content 1fr 2rem;
    padding-block: 1rem;
    gap: 1rem;
    border: none;
  }
}
