.productFilter {
  background-color: var(--clr-neutral-000);
  border-radius: 0.75rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productFilter main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
