.checkoutForm {
  display: grid;
  gap: 1rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@media (max-width: 700px) {
  .form {
    grid-template-columns: 1fr;
  }
}
