.productsMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productsMainHeader {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

.productsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productsList .product__cardInfo {
  grid-template-rows: 1fr auto;
}
