.productsFilters {
  background-color: var(--clr-neutral-200);
  border-radius: 1rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.productsFilters h3 {
  padding-block: 1rem;
}

.productsFiltersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.productsFiltersHeader a {
  color: var(--clr-neutral-500);
  font-size: var(--fs-small);
}

.productsFiltersHeader a:hover {
  color: var(--clr-neutral-900);
  text-decoration: underline 3px var(--clr-primary);
}

.productsFiltersHeader > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-small);
}

.filterCount {
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  padding-inline: 0.5rem;
  font-weight: bold;
  font-size: var(--fs-xsmall);
  opacity: 1;
  transition: all 0.05s ease-in-out;
}

.filterCount[data-visible="false"] {
  display: none;
}

.productsFilters ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.productsFilters ul li svg {
  min-width: 1.5rem;
}

.productsFilters ul li input {
  margin-left: auto;
}

.productsFilters header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productsFilters header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.productsFilters header img {
  transition: all 0.2s ease-in-out;
}

.productsFiltersClearAll {
  border: none;
}

.productsFiltersClearAll:hover {
  text-decoration: underline;
}
