.productsHeader {
  padding-block: 1.5rem;
  display: grid;
  gap: 0.5rem;
}

.products-empty-view a {
  font-weight: bold;
}

.products {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem;
}

.products aside {
  position: relative;
}

.products aside > div {
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productsFilters {
  background-color: var(--clr-neutral-200);
  border-radius: 1rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.productsFilters h3 {
  padding-block: 1rem;
}

.productsFiltersHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.productsFiltersHeader a {
  color: var(--clr-neutral-500);
  font-size: var(--fs-small);
}

.productsFiltersHeader a:hover {
  color: var(--clr-neutral-900);
  text-decoration: underline 3px var(--clr-primary);
}

.productsFilters ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.productsFilters ul li svg {
  min-width: 1.5rem;
}

.productsFilters ul li input {
  margin-left: auto;
}

.productsFilters header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productsFilters header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.productsFilters header img {
  transition: all 0.2s ease-in-out;
}

@media (max-width: 700px) {
  .products {
    grid-template-columns: 1fr;
  }
  .products-filter[aria-expanded="true"] header img {
    transform: rotate(180deg);
  }
  .products-filter[aria-expanded="true"] main {
    display: none;
  }
  .products-filter[aria-expanded="false"].product-category-filter ul {
    width: 100%;
  }
  .products-filter[aria-expanded="false"] header img {
    transform: rotate(0deg);
  }
  .products-filter[aria-expanded="false"] main {
    display: flex;
  }
  .products-filter[aria-expanded="false"].product-price-filter main {
    flex-direction: column;
    gap: 0.5rem;
  }
}
